.anniversaryBallContainer {
    background-color: #E3D6A5;
}

.springBallContainer {
    background-color: #E4E7ED;
}

.tallImageWidth {
    width: 60%;
}

.wideImageWidth {
    width: 60%;
}

@media screen and (max-width: 800px) {
    .tallImageWidth {
        width: 70%;
    }
    .wideImageWidth {
        width: 70%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .tallImageWidth {
        width: 80%;
    }
    .wideImageWidth {
        width: 80%;
    }
  }