.whiteContainer {
    background-color: white;
}
.liveSketchSingleImage {
    /* height: 700px; */
    width: 50%;
}

.procrastinationContainer {
    background-color: #EFEAEA;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 700px; */
    /* width: 50%; */
}

.procrastination {
    /* height: 700px;   */

    width: 40%;
    padding: 0px 40px;
}

.portugalContainer{
    display: flex;
    justify-content: center;
}
.twoRunnersContainer {
    background-color: #FFE4E5;
    width: 70%;
}
.inesContainer {
    background-color: #CDABAB;
    width: 70%;
}

.halfSingleImage {
    width: 70%;
}
