.tshirtContainer {
    background-color: #BCCBD0;
}
.tshirtImageContainer {
    display: flex;
    justify-content: center;
    height: 500px;
}

.appLogoDesign {
    height: 500px;  
    padding: 0px 40px;
}

.imageDescription{
    display: flex;
    justify-content: space-evenly;
}

.singleTshirtImage {
    height: 500px;
}

.logoContainer {
    background-color: white;
    width: 700%;
}