.aboutMe-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vmin;
}

.bio {
    font-family: 'Bold';
    font-size: 25px;
    width: 65%;
    padding: 30px;
}

.icons-row {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    width: 100%;
    float: right;
    padding: 70px;
}

.icons {
    height: 120px;
}

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .aboutMe-information
    {
        flex-wrap: wrap;
    }
    .icons-row {
        flex-wrap: wrap;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .container {
      flex: 100%;
      max-width: 100%;
    }
  }