.aboutMe-container {
    /* background-color: #b3c83b; */
    background-color: #EBEAE4;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.horizontalShape {
    width: 50px;
    height: 50px;
}

.verticalShape {
    height: 50px;
    width: 50px;
}

/* .aboutMeInformation { */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    text-align: start;
    padding: 30px 0px; */
/* } */

.titles {
    /* background-color: #acabb8; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* color: rgb(115, 116, 116); */
    color: black;
}

.aboutMe-information {
    /* background-color: #2c1fc0; */
    display: flex;
    width: 70%;
    justify-content: center;
    padding: 100px;
    /* flex-wrap: wrap; */
    /* margin: 200px; */
    /* height: 300px; */
}

.info {
    text-align: start;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #5a51b6; */
    background-color: #C8C6BF;
}

.profile-image {
    width: 300px;
    height: 300px;
}

.name {
    font-family: 'Regular';
    font-size: 15px;
}

.bio {
    /* color: rgb(242, 240, 240); */
    font-family: 'Medium';
    font-size: 20px;
}

.description {
    font-family: 'regular';
    font-size: 15px;
}

h1 {
    font-family: 'Regular';
    font-size: 22px;
}

.technologies-container {
    background-color: #E3D6A5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    height: 300px;
}

.icons-row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #2d56b6; */
}

.icons {
    height: 120px;
}

.iconDotContainer {
    /* background-color: #7889b1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.black {
    background-color: #090909;
}

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .aboutMe-information
    {
        flex-wrap: wrap;
    }
    .icons-row {
        flex-wrap: wrap;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .container {
      flex: 100%;
      max-width: 100%;
    }
  }