.outerContainer {
    height: 600px;
    /* padding: 100%; */
}

.contactContainer {
    background: #B6B8AB;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

