.outerContainer {
    height: 625px;
    background: #B6B8AB;
}

.contactContainer {
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mediaLink {
    padding: 10px;
    color: black;
}