* { 
	margin: 0; 
	padding: 0; 
} 

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.background { 
	background-color: #DFCDC9;
    height: 160px;
} 

.navbar { 
	display: flex; 
    justify-content: space-between;
    align-items: flex-end;
    height: 160px;
} 

.right-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.App-logo { 
    height: 90px;
    align-self: flex-end;
    padding: 20px; 
} 

.nav-list { 
    display: flex;
    padding: 15px 20px; 
} 

.nav-list li { 
	list-style: none; 
    padding: 10px;
    font-family: 'Medium';
    font-size: 22px;
} 

.nav-list li a { 
	text-decoration: none; 
	color: #000; 
} 

.nav-list li a:hover { 
	color: grey; 
} 

.selected {
    text-decoration: underline;
}

.link {
    color: #000000; 
}

.title { 
    padding: 0px 30px 20px 0px;
    font-size: 22px;
    font-family: 'Italic';
    font-weight: 100;
} 


.burger1{
    transform: rotate(45deg);
}
.burger2{
    /* transform: translateX(100%); */
    opacity: 0;
}
.burger3{
    transform: rotate(-45deg);
}


/* Styles for responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .App-logo {
        height: 70px;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .hamburger {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
        z-index: 10;
        padding: 20px;
    }
    
    .burger {
        width: 2rem;
        height: 0.25rem;
        border-radius: 10px;
        background-color: black;
        transform-origin: 1px;
        /* transition: all 0.1s linear; */
    }


    .App-logo {
        height: 50px;
    }
    .right-nav {
    display: none;
    }
  }
  