.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "illustrations event-posters lds-logos"
      "illustrations app-designs strategic-plan"
      "omni-channel-infographic salsa-as-political-speech strategic-plan";
      /* height: 1085px; */
      background-color: #FFFFFF;
    }
  
    /* .a:hover {
      background: rgba(39,62,84,0.82);
      overflow: hidden; */
      /* height: 100%; */
      /* z-index: -2; */
    /* } */
  
    /* .link {
      color: #fff; 
    } */
  
  .illustrations { 
    grid-area: illustrations; 
    background-color: #FFFFFF;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position:relative;
    z-index:0;
    }
  
  .workers {
    
    background-color: #FFFFFF;
  }
  
  .responsive {
    width: 80%;
    /* height: auto; */
  }
  
  .workers-text {
    position:relative;
    z-index:1;
  }
  
  .event-posters { 
    grid-area: event-posters; 
    background-color: #E3D6A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .app-designs { 
    grid-area: app-designs; 
    background-color: #CBDBCF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lds-logos { 
    grid-area: lds-logos; 
    background-color: #BCCBD0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .strategic-plan { 
    grid-area: strategic-plan; 
    background-color: #EDF3FB;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .salsa-as-political-speech { 
    grid-area: salsa-as-political-speech; 
    background-color: #ECE2DD;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .omni-channel-infographic { 
    grid-area: omni-channel-infographic; 
    background-color: #ECEFF8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .container {
      /* flex: 50%;
      max-width: 50%; */
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .container {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /* @media screen and (max-width: 800px) {
  .container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "illustrations event-posters lds-logos"
      "illustrations app-designs strategic-plan"
      "omni-channel-infographic salsa-as-political-speech strategic-plan";
      height: 1085px;
    }
  } */